article.gauge {

}

article.gauge header {
  background-color:darkgray;
  color: white;
}

article.gauge footer h1,
article.gauge header h1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 10pt;
  text-align: center;
  margin:0;
}

::ng-deep circle.arc:hover {
  opacity: 50%;
}

::ng-deep text.gauge.marker.text.shadow {
  stroke: none;
  fill: lightgray;
}

::ng-deep .gauge.arcs.background {
  fill: rgb(220,220,220,0.5);
  stroke: green;
  stroke-width:1px;
}

.gauge.needle.circle,
.gauge.needle.pointer {
  fill: dodgerblue;
  stroke: darkblue;
}
.gauge.needle.pointer.shadow {
  opacity: 0.5;
  fill: lightgray;
  stroke:none;
}


.gauge.needle.pin {
  stroke: none;
  fill: white;
}
