.shadow {
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  /* Similar syntax to box-shadow */
}

::ng-deep text.gauge.label {
  font-family: sans-serif;
  font-size:10pt;
  font-weight: bold;
}
:host ::ng-deep path.gauge.arcs.background.martin {
  fill: antiquewhite;
}
:host ::ng-deep path.gauge.arcs.background {
  fill: lightgray;
  stroke:white;
}

:host ::ng-deep .gauge.needle.pointer.martin {
  fill: black;
  stroke: black;
}

:host ::ng-deep .circle.gauge.needle.martin  {
  fill: black;
  stroke: black;
}


:host ::ng-deep article.gauge {
  border: 1px solid black;
  padding: 4px;
}



:host ::ng-deep article.gauge.martin {
  border: 1px solid darkgray;
  box-shadow: 4px 4px 4px gray;
  border-radius: 5px;
}
