<div class="container">

  <app-vu-meter
    caption="test 1"
    [width]="350" [height]="230"
    [needleValue]="needleValue1" [needleValueIsPercentage]="false" [showNeedleValueAsText]="true"
    [marginBottom]="25" [marginSide]="20" [marginTop]="5"
    [needleBaseWidth]="7" [needleLengthPercentage]="100" [showNeedleShadow]="true" [needleShadowOffsetInDegrees]="5"
    [useArcShadows]="true" [arcShadowDepth]="-5"
    [strokeWidth]="15"
    [ranges]="ranges1" [colors]="colors1" [arcSpacing]="0"
    extraClass="martin"
    [timeOutduration]="500"
    [arcSpanDegrees]="90" [centralValueTextVerticalCorrection]="20"
    [showUnitMarkers]="true" [markerLargeUnit]="99" [markerSmallUnit]="1" [markerTextOffset]="24"
    [showMarkerTextSmall]="true" [markerSmallLength]="20"
  ></app-vu-meter>
  <app-vu-meter
    caption="test 2"
    [width]="350" [height]="230"
    [needleValue]="needleValue2" [needleValueIsPercentage]="false" [showNeedleValueAsText]="true"
    [marginBottom]="25" [marginSide]="20" [marginTop]="5"
    [needleBaseWidth]="7" [needleLengthPercentage]="100" [showNeedleShadow]="true" [needleShadowOffsetInDegrees]="5"
    [useArcShadows]="true" [arcShadowDepth]="-5"
    [strokeWidth]="15"
    [ranges]="ranges2" [colors]="colors2" [arcSpacing]="0"
    extraClass="martin"
    [timeOutduration]="500"
    [arcSpanDegrees]="150" [centralValueTextVerticalCorrection]="20"
    [showUnitMarkers]="false" [markerLargeUnit]="15" [markerSmallUnit]="999" [showMarkerTextLarge]="true"
    [markerTextOffset]="20"
  ></app-vu-meter>
  <app-vu-meter
    [width]="300" [height]="250"
    [needleValue]="needleValue3" [needleValueIsPercentage]="true"
    [marginBottom]="25" [marginSide]="30" [marginTop]="5"
    [needleBaseWidth]="4" [needleLengthPercentage]="85" [needlePinRadius]="1"
    [strokeWidth]="10" [showNeedleValueAsText]="true"
    [ranges]="ranges3" [colors]="colors3" [arcSpacing]="4"
    [timeOutduration]="1500"
    [arcSpanDegrees]="230" [centralValueTextVerticalCorrection]="20"
    [showUnitMarkers]="true" [showMarkerTextLarge]="true"
    [markerLargeUnit]="5" [markerTextOffset]="-10" [markerSmallUnit]="1"
    [showMarkerTextSmall]="false"
  ></app-vu-meter>
  <app-vu-meter
    [width]="300" [height]="230"
    [needleValue]="needleValue4" [needleValueIsPercentage]="false"
    [marginBottom]="25" [marginSide]="30" [marginTop]="5"
    [needleBaseWidth]="4" [needleLengthPercentage]="105" [needlePinRadius]="1"
    [strokeWidth]="10" [showNeedleValueAsText]="true"
    [ranges]="ranges4" [colors]="colors4" [arcSpacing]="1"
    [timeOutduration]="1500"
    [arcSpanDegrees]="190" [centralValueTextVerticalCorrection]="20" [markerTextOffset]="20"
  ></app-vu-meter>
  <app-vu-meter
    footer="test 3"
    [width]="400" [height]="220"
    [needleValue]="needleValue5" [needleValueIsPercentage]="false" [showNeedleValueAsText]="true"
    [marginBottom]="25" [marginSide]="10" [marginTop]="55"
    [needleBaseWidth]="10" [needleLengthPercentage]="50"
    [strokeWidth]="10"
    [ranges]="ranges5" [colors]="colors5" [arcSpacing]="2"
    [timeOutduration]="200"
    [centralValueTextVerticalCorrection]="20"
    [showUnitMarkers]="true" [markerLargeOffset]="15" [markerLargeLength]="25" [markerTextOffset]="-20"
  ></app-vu-meter>
</div>
<label>Value for graph 1: <input [(ngModel)]="needleValue1" type="number" [min]="ranges1[0]" [max]="ranges1[ranges1.length-1]"></label><br>
<label>Value for graph 2: <input [(ngModel)]="needleValue2" type="number" [min]="ranges2[0]" [max]="ranges2[ranges2.length-1]"></label><br>
<label>Value for graph 3: <input [(ngModel)]="needleValue3" type="number" [min]="0" [max]="100">%</label><br>
<label>Value for graph 4: <input [(ngModel)]="needleValue4" type="number" [min]="ranges4[0]" [max]="ranges4[ranges4.length-1]"></label><br>
<label>Value for graph 5: <input [(ngModel)]="needleValue5" type="number" [min]="ranges5[0]" [max]="ranges5[ranges5.length-1]"></label><br>
