<app-vu-meter
  caption="test 2"
  [width]="350" [height]="200"
  [needleValue]="needleValue" [needleValueIsPercentage]="false" [showNeedleValueAsText]="true"
  [marginBottom]="25" [marginSide]="20" [marginTop]="5"
  [needleBaseWidth]="7" [needleLengthPercentage]="100" [showNeedleShadow]="true" [needleShadowOffsetInDegrees]="5"
  [useArcShadows]="true" [arcShadowDepth]="-5"
  [strokeWidth]="15"
  [ranges]="ranges2" [colors]="colors2" [arcSpacing]="0"
  extraClass="martin"
  [timeOutduration]="500"
></app-vu-meter>
<br>
<br>
<br>
<br>

<app-vu-meter
  [width]="300" [height]="100"
  [needleValue]="needleValue" [needleValueIsPercentage]="true"
  [marginBottom]="25" [marginSide]="3" [marginTop]="5"
  [needleBaseWidth]="4" [needleLengthPercentage]="105" [needlePinRadius]="1"
  [strokeWidth]="10" [showNeedleValueAsText]="true"
  [ranges]="ranges1" [colors]="colors1" [arcSpacing]="4"
  [timeOutduration]="1500"
></app-vu-meter>
<br>
<br>
<br>
<br>

<app-vu-meter
  footer="test 3"
  [width]="400" [height]="220"
  [needleValue]="needleValue" [needleValueIsPercentage]="false" [showNeedleValueAsText]="true"
  [marginBottom]="25" [marginSide]="10" [marginTop]="5"
  [needleBaseWidth]="10" [needleLengthPercentage]="50"
  [strokeWidth]="10"
  [ranges]="ranges3" [colors]="colors3" [arcSpacing]="4"
  [timeOutduration]="200"
></app-vu-meter>
<br>

<input [(ngModel)]="needleValue" type="number">
